@page
@model DashboardModel


<div class="wrapper">
    <header></header>
    <article class="main" data-aos="fade-down">
        <div id="chartdiv" style="padding-top: 50px"></div>
    </article>
    <!-- Page Content -->

    @*<div class="container">
        <div id="chartdiv"></div>

    </div>*@
    <aside class="aside aside-1">
        <div class="container">
            <div class="card" data-aos="fade-right">
                <div class="card-body">
                    <div class="user-image pb-1">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="50" class="img-radius"
                             alt="User-Profile-Image">
                    </div>

                    <div class="user-image py-1 float-right">
                        <img src="http://uxdrew.io/melt/lunch_sack_3.svg" width="35" class="img-radius" alt="User-Profile-Image">
                        <img src="http://uxdrew.io/melt/lunch_sack_3.svg" width="35" class="img-radius" alt="User-Profile-Image">
                        <img src="http://uxdrew.io/melt/lunch_sack_3.svg" width="35" class="img-radius" alt="User-Profile-Image">

                    </div>

                    <h5 class="card-title text-muted">Andrew Harris</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Player One</h6>
                    <p class="card-text text-muted small">
                        Really wants to get his debt paid down so he can go fly
                        fishing in Costa Rica.
                    </p>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                             aria-valuemax="100" style="width:70%">
                            70%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-2">
            <div class="card" data-aos="fade-right">
                <div class="card-body">
                    <div>
                        <input type="text" id="range" value="" name="range" />
                        <label class="text-muted small">Income</label>

                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-2" data-aos="fade-right">
            <div class="card">
                <div class="card-body">
                    <div>
                        <input type="text" id="range3" value="" name="range" />
                        <label class="text-muted small">Age Range</label>

                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-2" data-aos="fade-right">
            <div class="card">
                <div class="card-body">
                    <div>
                        <input type="text" id="range4" value="" name="range" />
                        <label class="text-muted small">Household</label>

                    </div>
                </div>
            </div>
        </div>
    </aside>
    <aside class="aside aside-2" data-aos="fade-left">
        <h4>Challenges</h4>
        <p class="small">
            Join us for one of our weekly challenges. Earn achievements and compare yourself to your
            peers.
        </p>
        <p class="small"><a href="#">View current challenges</a></p>
        <hr>
        <h4>Peers</h4>
        <span class="">Tony B.</span><br>
        <span class="small">saving for retirement</span><br>
        <span class="small">Debt down to 43%.</span><br>
        <span class="small"><a href="#">Follow</a></span><br>
        <hr>
        <span class="">Tony B.</span><br>
        <span class="small">saving for retirement</span><br>
        <span class="small">Debt down to 43%.</span><br>
        <span class="small"><a href="#">Follow</a></span><br>
        <hr>
        <span class="">Tony B.</span><br>
        <span class="small">saving for retirement</span><br>
        <span class="small">Debt down to 43%.</span><br>
        <span class="small"><a href="#">Follow</a></span><br>
        <hr>
    </aside>
</div>

<script>
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "dark",
        "dataProvider": [{
            "points": 1,
            "value": 5
        },
        {
            "points": 2,
            "value": 10
        },
        {
            "points": 3,
            "value": 15
        },
        {
            "points": 4,
            "value": 20
        },
        {
            "points": 5,
            "value": 25
        },
        {
            "points": 6,
            "value": 30
        },
        {
            "points": 7,
            "value": 35
        },
        {
            "points": 8,
            "value": 40
        },
        {
            "points": 9,
            "value": 45
        },
        {
            "points": 10,
            "value": 50
        },
        {
            "points": 11,
            "value": 55
        },
        {
            "points": 12,
            "value": 60
        },
        {
            "points": 13,
            "value": 65
        },
        {
            "points": 14,
            "value": 70
        },
        {
            "points": 15,
            "value": 75
        },
        {
            "points": 16,
            "value": 80
        },
        {
            "points": 17,
            "value": 85
        },
        {
            "points": 18,
            "value": 90
        },
        {
            "points": 19,
            "value": 95
        },
        {
            "points": 20,
            "value": 100
        },
        {
            "points": 21,
            "value": 95
        },
        {
            "points": 22,
            "value": 90
        },
        {
            "points": 23,
            "value": 85
        },
        {
            "points": 24,
            "value": 80
        },
        {
            "points": 25,
            "value": 75
        },
        {
            "points": 26,
            "value": 70
        },
        {
            "points": 27,
            "value": 65
        },
        {
            "points": 28,
            "value": 60
        },
        {
            "points": 29,
            "value": 55
        },
        {
            "points": 30,
            "value": 50
        },
        {
            "points": 31,
            "value": 45
        },
        {
            "points": 32,
            "value": 40
        },
        {
            "points": 33,
            "value": 35
        },
        {
            "points": 34,
            "value": 30
        },
        {
            "points": 35,
            "value": 25
        },
        {
            "points": 36,
            "value": 20
        },
        {
            "points": 37,
            "value": 15
        },
        {
            "points": 38,
            "value": 10
        },
        {
            "points": 39,
            "value": 5
        },
        {
            "points": 40,
            "value": 0
        }
        ],
        "valueAxes": [{
            "axisAlpha": 0,
            "dashLength": 4,
            "position": "left",
            "showFirstLabel": false,
            "showSecondLabel": false
        }],
        "graphs": [{
            "bulletSize": 0,
            //"customBullet": "https://www.amcharts.com/lib/3/images/star.png?x",
            //"customBulletField": "customBullet",
            "valueField": "value",
            //"balloonText": "<div style='margin:10px; text-align:left;'><span style='font-size:13px'>[[category]]</span><br><span style='font-size:18px'>Value:[[value]]</span>",
        }],
        "marginTop": 20,
        "marginRight": 70,
        "marginLeft": 10,
        "marginBottom": 20,
        "chartCursor": {
            "graphBulletSize": 0,
            "zoomable": false,
            "valueZoomable": true,
            "cursorAlpha": 0,
            "valueLineEnabled": false,
            "valueLineBalloonEnabled": false,
            "valueLineAlpha": 0.2
        },
        "autoMargins": false,

        "categoryField": "number",

        "categoryAxis": {
            "axisAlpha": 0,
            "gridAlpha": 0,
            "inside": true,
            "tickLength": 0
        },
        //"export": {
        //    "enabled": true
        //}
    });
</script>

<script>
    AOS.init({
        offset: 100,
        duration: 600,
        easing: 'ease-in-sine',
        delay: 100,
        once: true,
    });
</script>

<script>
    $(function () {

        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 300000,
            from: 45000,
            to: 90000,
            type: 'double',
            step: 1,
            prefix: "$",
            grid: true
        });

    });
</script>

<script>
    $(function () {

        $("#range2").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 5000,
            from: 100,
            to: 2000,
            type: 'double',
            step: 1,
            prefix: "$",
            grid: true,
        });

    });
</script>

<script>
    $(function () {

        $("#range3").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 110,
            from: 12,
            to: 82,
            type: 'double',
            step: 1,
            prefix: "",
            grid: true
        });

    });
</script>

<script>
    $(function () {

        $("#range4").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 13,
            from: 4,
            to: 6,
            type: 'single',
            step: 1,
            prefix: "",
            grid: true
        });

    });
</script>