@page
@model TriggerModel


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<button id="btnDueDate">When is my due date?</button>
<button id="btnTransactions">View my transactions</button>
