@page
@model TriggerModel

<script type="text/javascript">
    $("btnDueDate").on("click", function () {

    });

    $("btnDueDate").on("click", function () {

    });
</script>
<script src="~/js/chat.js"></script>
<form method="post" id="formPost">
    <button id="btnDueDate">When is my due date?</button>
    <button id="btnTransactions">View my transactions</button>
</form>
